# =============================================================================
# Arquivos Sensíveis (NUNCA ENVIE PARA O GITHUB)
# =============================================================================
# Arquivo com senhas de banco, chaves de API, etc.
.env


# =============================================================================
# Ambientes Virtuais
# =============================================================================
# Impede o envio de pastas de ambiente virtual que podem ser muito grandes
# e contêm arquivos específicos do seu sistema operacional.
.venv
venv/
env/


# =============================================================================
# Python Cache e Arquivos Compilados
# =============================================================================
# Arquivos de cache gerados pelo Python para acelerar a execução.
__pycache__/
*.py[cod]
*$py.class

# Extensões C compiladas
*.so


# =============================================================================
# IDEs e Editores de Código
# =============================================================================
# Configurações específicas do seu editor de código.
.idea/
.vscode/
.spyderproject
.ropeproject


# =============================================================================
# Relatórios de Teste e Cobertura
# =============================================================================
# Arquivos gerados ao rodar testes e análises de cobertura.
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml


# =============================================================================
# Jupyter Notebook
# =============================================================================
# Checkpoints automáticos do Jupyter.
.ipynb_checkpoints


# =============================================================================
# Arquivos de Distribuição e Empacotamento
# =============================================================================
# Pastas e arquivos gerados ao construir um pacote Python.
build/
dist/
*.egg-info/
*.egg


# =============================================================================
# Logs e Bancos de Dados Locais
# =============================================================================
# Arquivos de log e bancos de dados SQLite que podem ser usados para testes.
*.log
db.sqlite3
pip-log.txt


# =============================================================================
# MyPy e outros Linters
# =============================================================================
.mypy_cache/
.ruff_cache/